* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  font-family: "Montserrat", sans-serif;
}

/* NavBar */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
}

.left-half {
  display: flex;
  align-items: center;
  color: white;
}

.logo {
  font-size: 2.5rem;
  margin: 1rem;
}

.home-icon {
  font-size: 1.7rem;
  background-color: #1f1f1f;
  color: rgb(179, 179, 179);
  padding: 8px;
  border-radius: 50%;
  margin: 0 1rem;
  transition: 0.2s;
}

.home-icon:hover {
  color: white;
  transform: scale(1.05);
}

.search-bar {
  display: flex;
  background-color: #1f1f1f;
  align-items: center;
  height: 3rem;
  width: 30rem;
  border-radius: 20rem;
}
.search-bar:hover {
  background-color: #272727;
  border: 1px solid rgb(76, 76, 76, 76);
}

.search-icon {
  font-size: 1.5rem;
  color: rgb(179, 179, 179);
  padding: 0 0.7rem;
}
.search-bar:hover .search-icon {
  color: white;
}

.input-box {
  width: 78%;
  height: 60%;
  background-color: #1f1f1f00;
  border: none;
  border-right: 1px solid rgb(179, 179, 179);
  color: white;
  font-size: 1.2rem;
}

.browse {
  font: 1.3rem;
  margin-left: 0.6rem;
  transition: 0.2s;
}
.browse:hover {
  transform: scale(1.05);
}

.right-half {
  display: flex;
  align-items: center;
  color: white;
  width: 48%;
}

.right-half-p1 {
  display: flex;
  align-items: center;
  height: 1.7rem;
  margin: 0 1rem;
  padding: 0 1rem 0 0;
  border-right: 1px solid rgb(179, 179, 179);
}

.nav-text {
  padding: 0 0.5rem;
  font-weight: 600;
  color: rgb(179, 179, 179);
  transition: 0.1s;
}
.nav-text:hover {
  color: white;
  cursor: pointer;
}

.right-half-p2 {
  display: flex;
  align-items: center;
}

.login-btn {
  height: 3rem;
  width: 7rem;
  border-radius: 15rem;
  border: none;
  background-color: white;
  font-size: 1rem;
  font-weight: 700;
  margin: 1rem;
  transition: 0.2s;
}

.login-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* Main - Left - part */
.main {
  background-color: black;
  min-width: 98vw;
  height: 78vh;
  margin-top: 2vh;
  display: flex;
  justify-content: space-around;
  color: white;
}

.main-left-part {
  width: 27%;
  height: 100%;
  background-color: #121212;
  border-radius: 10px;
}

.main-right-part {
  height: 100%;
  width: 72%;
  background-color: #121212;
  border-radius: 10px;
}

.library {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 1.5rem;
}
.library p {
  font-weight: 600;
}
.library div {
  font-size: 2rem;
  color: rgb(179, 179, 179);
  background-color: #2f2f2f;
  padding: 8px;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30rem;
  transition: 0.2s;
}
.library div:hover {
  color: white;
  background-color: #3a3a3a;
}
.box-container {
  margin: 1rem;
  height: 100%;
}
.box {
  background-color: #1f1f1f;
  height: 22%;
  width: 98%;
  border-radius: 10px;
  margin: 1rem 0;
}

.box h4 {
  font-weight: 600;
  font: 0.9rem;
  padding: 1.3rem 0 0.5rem 1rem;
}
.box p {
  font-size: 0.8rem;
  padding-left: 1rem;
}
.box button {
  background-color: white;
  color: black;
  font-weight: 600;
  padding: 0.6rem 0.8rem;
  margin: 1rem 0 0 1rem;
  border-radius: 25rem;
}
.box button:hover {
  transform: scale(1.04);
  background-color: rgb(238, 238, 238, 238);
}
